/* general rules  */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Barlow', sans-serif;

}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container{
    margin-left: auto;
    margin-right: auto ;
    padding-left: 15px;
    padding-right: 15px;
}
@media(min-width: 778px){
    .container{
        width: 750px;
    }
}
@media(min-width: 992px){
    .container{
        width: 970px;
    }
}
@media(min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/* START VARIALBLES */
:root{
    --main-color: #f51767;
    --secondary-color: #32dd88;
    --third-color: #777;
    --fourth-color: #373f49;
    --white-color: #fff;
    --black-color: #000;
    --section-padding: 100px;
    --transition-duration: .3s;
}
/* END VARIALBLES */
/* -----------------------  END general rules ----------------------------  */

/* START COMPONENTS */
.section-heading{
    text-align: center;
}
.section-heading h1{
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 40px;
}

/* ***********************  END COMPONENTS  ******************************** */

/* START HEADER  */
header{
    position: relative;
    z-index: 3;
    min-height: 68px;
    background-color: var(--white-color);

}
header .container{
    /* display: relative; */
}
header .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--white-color);
}
@media(max-width: 991px){
    header .container nav .menu-items{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
header .container nav .logo{
    flex-basis: 100px;
}
header .container .toggle-menu{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 999;
}
@media(max-width: 991px){
    header .container .toggle-menu{
        display: block;       
    }
}


header .container nav .menu-items{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid red; */
    font-size: 1rem;
    position: relative;
    top: 0;
    background-color: var(--white-color);
}
@media(max-width: 991px){
    header .container nav .menu-items{
        display: none;
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 50px;
    }

}

header .container nav .menu-items > ul{
    display: flex;
    align-items: center;
    
}
@media(max-width: 991px){
    header .container nav .menu-items ul{
        flex-direction: column;
        width:100%;
        margin-top: 20px;
    }
}
header .container nav .menu-items > ul li{
    position: relative;
    transition: var(--transition-duration);
}
header .container nav .menu-items > ul li a{
    padding: 25px 15px;
    display: block;
    text-decoration: none;
    color: var(--fourth-color);
    font-weight: 700;
    /* position: relative; */
    z-index: 5;
}
@media(max-width: 991px){
    header .container nav .menu-items > ul li a{
        padding: 15px;
    }
}
header .container nav .menu-items > ul > li:not(:first-child)::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: var(--main-color);
    bottom: 15px ;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    display: none;
}
header .container nav .menu-items > ul >li:hover::before{
    display: block;
}
header .container nav .menu-items > ul li a.menu-icon{
    padding-right: 20px;
    position: relative;
}
header .container nav .menu-items > ul li a.menu-icon::before{
    content: "\f077";
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    position: absolute;
    right: 1px;
    top: 41%;
    display: none;
}
header .container nav .menu-items > ul li a.menu-icon::after{
    content: "\f078";
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    position: absolute;
    right: 1px;
    top: 41%;
    
}

header .container nav .menu-items > ul li:first-child:hover a::after{
    display: none;
}
header .container nav .menu-items > ul li:first-child:hover a::before{
    display: block;
}

header .container nav .menu-items > ul li:first-child{
    position: relative;
}
header .container nav .menu-items > ul ul.sub-menu{
    position: absolute;
    top: 61px;
    background-color: white;
    width: 300px;
    left: -180px;
    box-shadow: 0 0 15px 1px rgb(197, 197, 197);
    text-align: left;
    display: none;
}
@media(max-width: 991px){
    header .container nav .menu-items > ul ul.sub-menu{
        position: static;
        display: none;
    }
}
header .container nav .menu-items > ul ul.sub-menu li:first-child{
    position: relative;
}
header .container nav .menu-items > ul ul.sub-menu li:first-child:before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    right: 3px;
    top: -19px;
}
header .container nav .menu-items > ul >li:first-child:hover ul.sub-menu{
    display: block;
}

header .container nav .menu-items  ul.sub-menu li:not(:last-child) {
    border-bottom: 2px solid #dedede;
}
header .container nav .menu-items  ul.sub-menu li a{
    padding: 20px 30px;
    transition: var(--transition-duration);
    position: relative;
    border-left: 5px solid white;
    
}
@media(max-width: 991px){
    header .container nav .menu-items  ul.sub-menu li a{
        padding: 15px;
    }
}
header .container nav .menu-items  ul.sub-menu li a:hover{
    border-left: 5px solid var(--main-color);
}

header .container nav .menu-items  ul.sub-menu li a p{
    font-weight: normal;
    padding-top: 5px;
}

header .container nav .sign-in {
    margin-left: 20px;
}
@media(max-width: 991px){
    header .container nav .sign-in{
        display: flex;
        flex-direction: column;

    }
}
header .container nav .sign-in > a{
    text-decoration: none;
    padding: 7px 20px ;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    font-size: .8rem;
    text-align: center;

}
@media(max-width: 991px){
    header .container nav .sign-in a{
        margin-bottom: 20px;
    }
    header .container nav .sign-in a:last-child{
        /* margin-bottom: 100px; */
    }
}
header .container nav .sign-in a:first-child{
    color: var(--main-color);
}
header .container nav .sign-in a:first-child:hover{
    background-color: var(--main-color);
    color: white;
}
header .container nav .sign-in a:last-child{
    background-color: var(--main-color);
    color: var(--white-color);
}

.active{
    display: flex !important;
    position: relative;
    top: 100px;
}
.open{
    display: flex !important;
}
/* END   HEADER  */

/* ******************START LANDING ************************ */
.landing{
    position:relative;
}
.landing .container{
    position: relative;
    /* border: 5px solid var(--secondary-color);
    background-color: rgb(235, 234, 234); */
    height: calc(100vh - 195px );
    /* min-height: 700px; */
}
@media(max-width:767px){
    .landing .container{
        height: 600px;
    }
}
@media(max-width: 991px){
    .landing .container{
        height: 600px;
    }
}
.landing .container .intro{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.landing .container .intro .text{
    width: 60%;
}
@media(max-width: 767px){
    .landing .container .intro{
        top: 100%;
    }
}
@media(max-width: 991px){
    .landing .container .intro{
        top: 48%;
    }
    .landing .container .intro .text{
        width: 100%;
    }
}
.landing .container .intro .text h1{
    font-size: 45px;
    font-weight: 600;
}
.landing .container .intro .text p{
    font-size: 20px;
    color: var(--third-color);
    font-weight: normal;
    line-height: 1.5;


}
.landing .container .intro .links{
    margin-top: 20px;
    text-align: left;
}
.landing .container .intro .links a{
    font-size: 23px;
    text-decoration: none;
    color: var(--main-color);
}
.landing .container .intro .links a:first-child{
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: var(--main-color);
    color: white;
    margin-right: 20px;
}
@media(max-width:767px){
    .landing .container .intro .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .landing .container .intro .links a{
        margin-bottom: 25px;
    }
}
.landing .pic{
    position: absolute;
    top: -27px;
    right: 25px;

}
.landing .pic img{
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.1);
}
@media(max-width: 991px){
    .landing .pic{
        display: none;
    }
}
.landing .pic::before{
    content: "Founder & Lead Instructor, Andrei Neagoie";
    position: absolute;
    bottom: 3px;
    display: block;
    padding: 3px 20px;
    right: 0;
    font-size: 11px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
}
/* END   LANDING  */

/* START SOCIAL  */
.social{
    padding-top: calc( var(--section-padding) + 20px);
    padding-bottom: var(--section-padding);
    box-shadow: 0 0 5px 10px rgb(245, 241, 241);
}
.social .container{
    text-align: center;
}
.social .container .text p{
    font-size: 1.5rem;
    padding: 10px;
    color: var(--third-color);
}
.social .container .text p a.getting-hired{
    color: var(--main-color);
}
.social .container .brands{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.social .container .brands img{
    max-width: 100%;
}
/* END   SOCIAL  */
/* START JOININ  */
.joining{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.joining .container{

}
.joining .container article{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .joining .container article{
        flex-direction: column;
        text-align: center;
    }
    
}
.joining .container article img{
    /* flex-basis: 100px; */
    max-width: 360px;
    /* width: 400px; */
}

.joining .container article .text{
    flex-basis: 50%;
}
@media (max-width: 767px) {
    .joining .container article img{
        order: -1;
        max-width: 200px;
        margin-bottom: 15px;
    }
    
}
@media (max-width: 991px) {
    .joining .container article img{
        max-width: 300px;
    }
    
}
.joining .container article .text h3{
    font-size: 30px;
    font-weight: bold;
}
.joining .container article .text p{
    font-size: 22px;
    letter-spacing: 1.6px;
    line-height: 1.6;
    color: var(--third-color);
    padding: 15px 5px;
}
.joining .container article .text p a{
    color: var(--main-color);
    text-decoration: none;
}
/* END   JOININ  */